<% if (typeof flash !== 'undefined' && (flash.success || flash.error || flash.info)) { %>
  <div class="space-y-2">
    <% if (flash.success) { %>
      <div class="p-3 bg-green-50 border border-green-200 text-green-800 rounded">
        <%= flash.success %>
      </div>
    <% } %>
    <% if (flash.error) { %>
      <div class="p-3 bg-red-50 border border-red-200 text-red-800 rounded">
        <%= flash.error %>
      </div>
    <% } %>
    <% if (flash.info) { %>
      <div class="p-3 bg-blue-50 border border-blue-200 text-blue-800 rounded">
        <%= flash.info %>
      </div>
    <% } %>
  </div>
<% } %>
