Flask
SQLAlchemy
psycopg2
Flask-Migrate
webdriver-manager
Pillow
Stripe
gunicorn
PyJWT
python-dotenv
Flask-Session
Jinja2
openai
requests
Werkzeug
psycopg2-binary
reportlab
uwsgi
certbot-dns-godaddy
Authlib
flask_wtf
Flask-Mail