{% extends "/admin/cms/interface/render.html" %}

{% block content %}
   
<div class="row" data-aos="fade-up">
    <div class="col-md-12 mb-3">
        <style>
            .card {
                position: relative;
                height: 200px; /* Altezza ridotta */
                overflow: hidden;
            }
            .card-img {
                height: 100%;
                object-fit: cover;
                filter: brightness(40%); /* Velo opaco */
            }
            .card-img-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .card-title, .card-text {
                margin-bottom: 0.5rem;
            }
            .btn-small {
                padding: 0.25rem 0.5rem; /* Dimensioni ridotte del bottone */
                font-size: 0.875rem; /* Font piccolo */
            }
            .form-check-input:checked {
                background-color: #ff5757 !important;
                border-color: #ff5757 !important;
            }
            .card-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        </style>
        <div class="card text-bg-dark">
            <img src="{{ url_for('static', filename='images/screenshot_result.png') }}" 
            class="card-img" 
            alt="..."
            style="object-fit: cover; object-position: center;">
            <div class="card-img-overlay d-flex flex-column">
                <h5 class="card-title">Your Online Store: {{ shop['shop_name'] }}</h5>
                <div class="mt-auto">
                    <div class="card-footer">
                        <div>
                            <p class="card-text"><span class="badge text-bg-secondary">Theme in use<strong>: {{ shop['themeOptions'] }}</strong></span></p>
                            <p class="card-text"><small>Last Theme Edit: <span class="badge text-bg-secondary"> <strong>{{ minutes_ago }}</strong> minutes ago</span></small></p>
                        </div>
                        <div>
                            <a href="#" id="capture-screenshot-btn" class="btn btn-light btn-small">View Online Store</a>
                            <a href="{{ url_for('editor_interface') }}" class="btn btn-danger btn-small">Edit Store</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h5 class="mt-4 text-center" data-aos="fade-up">More Options</h5>
<div class="row d-flex justify-content-center align-items-center" data-aos="fade-up">
    <div class="col-md-4 text-dark theme-card-container d-flex align-items-stretch mb-4">
        <div class="theme-card card" style="background-image: url(https://via.placeholder.com/300x200); background-size: cover;">
            <div class="card-body mt-4">
                <h5 class="card-title">More Design Tool</h5>
                <p class="card-text">Download other design tools, differentiate your brand from the crowd.</p>
                <button class="btn btn-danger btn-small" onclick="CustomScript()">Download other tools</button>
            </div>
        </div>
    </div>

    <div class="col-md-4 text-dark theme-card-container d-flex align-items-stretch mb-4">
        <div class="theme-card card text-white" style="background-image: url(../../../../static/images/scripteditor.png); background-size: cover;">
            <div class="card-body mt-4">
                <h5 class="card-title">Add Personal Script</h5>
                <p class="card-text">Create your own custom script and integrate it into your site seamlessly.</p>
                <a href="/admin/web_settings/edit" class="btn btn-danger btn-small">Edit Store</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 theme-card-container d-flex align-items-stretch mb-4">
        <div class="theme-card card text-white" style="background-image: url(../../../../static/images/codeeditor.png); background-size: cover;">
            <div class="card-body mt-4">
                <h5 class="card-title">Edit Code</h5>
                <p class="card-text">Easily edit the Bootstrap 5.3.3 code of your site for customization.</p>
                <a href="/admin/cms/function/edit-code/home" class="btn btn-danger btn-small">Edit Code</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 text-dark theme-card-container d-flex align-items-stretch mb-4">
        <div class="theme-card card" style="background-image: url(https://via.placeholder.com/300x200); background-size: cover;">
            <div class="card-body mt-4">
                <h5 class="card-title">Add Cookie Bar</h5>
                <p class="card-text">Add a customizable cookie bar to your site for privacy compliance and a clean design.</p>
                <button class="btn btn-danger btn-small" onclick="CustomScript()">Add Cookie Bar</button>
            </div>
        </div>
    </div>

    <!-- New Card for Captcha -->
    <div class="col-md-4 text-dark theme-card-container d-flex align-items-stretch mb-4">
        <div class="theme-card card" style="background-image: url(https://via.placeholder.com/300x200); background-size: cover;">
            <div class="card-body mt-4">
                <h5 class="card-title">Add Captcha</h5>
                <p class="card-text">Integrate a Captcha system to protect your site from spam and automated abuse.</p>
                <button class="btn btn-danger btn-small" onclick="CustomScript()">Add Captcha</button>
            </div>
        </div>
    </div>

    <!-- New Card for Pop-Up -->
    <div class="col-md-4 text-dark theme-card-container d-flex align-items-stretch mb-4">
        <div class="theme-card card" style="background-image: url(https://via.placeholder.com/300x200); background-size: cover;">
            <div class="card-body mt-4">
                <h5 class="card-title">Add Pop-Up</h5>
                <p class="card-text">Create engaging pop-ups for your site to increase user interaction and conversions.</p>
                <button class="btn btn-danger btn-small" onclick="CustomScript()">Add Pop-Up</button>
            </div>
        </div>
    </div>
</div>


<script>
    function addTheme() {
        Swal.fire({
            title: 'Add New Theme',
            text: 'Add new theme functionality',
            icon: 'info',
            confirmButtonText: 'OK'
        });
    }

    function updateTheme() {
        Swal.fire({
            title: 'Update Theme',
            text: 'Update theme functionality',
            icon: 'info',
            confirmButtonText: 'OK'
        });
    }

    function removeTheme() {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You won\'t be able to revert this!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, remove it!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Removed!',
                    'Your theme has been removed.',
                    'success'
                )
            }
        })
    }

    function selectTheme() {
        Swal.fire({
            title: 'Select Theme',
            text: 'Select theme functionality',
            icon: 'info',
            confirmButtonText: 'OK'
        });
    }

    // Rendeirizza alla homepage e fai uno screen
    document.getElementById('capture-screenshot-btn').addEventListener('click', function(event) {
        event.preventDefault();  // Evita il comportamento di default del link
        
        // Effettua una chiamata AJAX per avviare lo screenshot
        fetch('/capture-screenshot', {
            method: 'POST'
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Apri una nuova pagina alla rotta "home"
                window.open('/home', '_blank');
            }
        })
        .catch(error => {
            console.error('Errore nel processo di screenshot:', error);
        });
    });
</script>

{% endblock %}