{% extends "/admin/cms/interface/render.html" %}

{% block content %}
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-3 mb-4">
      <a href="{{ url_for('warehouse.list_warehouses') }}" class="text-decoration-none">
        <div class="card text-white bg-dark rounded-4 shadow-sm h-100">
          <div class="card-body">
            <h5 class="card-title">Magazzini</h5>
            <p class="card-text fs-4">{{ total_warehouses }}</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3 mb-4">
      <a href="{{ url_for('warehouse.list_locations') }}" class="text-decoration-none">
        <div class="card text-white bg-dark rounded-4 shadow-sm h-100">
          <div class="card-body">
            <h5 class="card-title">Ubicazioni</h5>
            <p class="card-text fs-4">{{ total_locations }}</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3 mb-4">
      <a href="{{ url_for('warehouse.list_inventory_movements') }}" class="text-decoration-none">
        <div class="card text-white bg-dark rounded-4 shadow-sm h-100">
          <div class="card-body">
            <h5 class="card-title">Movimenti</h5>
            <p class="card-text fs-4">{{ total_movements }}</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3 mb-4">
      <a href="{{ url_for('warehouse.list_inventory') }}" class="text-decoration-none">
        <div class="card text-white bg-dark rounded-4 shadow-sm h-100">
          <div class="card-body">
            <h5 class="card-title">Totale Giacenze</h5>
            <p class="card-text fs-4">{{ total_quantity }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}
