<div id="sidebar" class="d-flex flex-column flex-shrink-0 sidebar collapse">
    <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img src="https://www.linkbay.it/static/image/lb-logo-w.svg" width="200px" alt="Logo">
    </a>
    <style>
        .nav-link {
            transition: transform 0.3s ease; /* Durata e tipo di transizione */
        }
        
        .nav-link:hover {
            transform: scale(1.1); /* Ingrandisce l'elemento quando si passa sopra con il cursore */
        }
        .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
            color: whitesmoke !important;
            background-color: #ff5757 !important;
        }
    </style>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        {% if title in ['Cookie Bar Settings', 'Third-Party Cookie Settings'] %}
        <li class="nav-item mb-2">
            <a href="{{ url_for('page.online_content') }}" class="nav-link {% if title == 'HomePage' %}active{% endif %} text-white">
                <i class="fa-solid fa-arrow-left"></i>&nbsp; Torna a Gestione Contenuti
            </a>
        </li>
        <li>
            <a href="{{ url_for('cookiepolicy.cookie_setting') }}" class="nav-link {% if title == 'Cookie Bar Settings' %}active{% endif %} text-white">
                <i class="fa-solid fa-clipboard-list {% if title == 'Cookie Bar Settings' %}fa-bounce{% endif %}"></i>&nbsp; Cookie Policy
            </a>
        </li>
        <li>
            <a href="/admin/cms/function/cookie-policy-third-party" class="nav-link {% if title == 'Third-Party Cookie Settings' %}active{% endif %} text-white">
                <i class="fa-solid fa-clipboard-list {% if title == 'Third-Party Cookie Settings' %}fa-bounce{% endif %}"></i>&nbsp; Integrations
            </a>
        </li>
        {% elif title in ['Navbar Settings']%}
        <li class="nav-item mb-2">
            <a href="{{ url_for('page.online_content') }}" class="nav-link {% if title == 'HomePage' %}active{% endif %} text-white">
                <i class="fa-solid fa-arrow-left"></i>&nbsp; Torna a Gestione Contenuti
            </a>
        </li>
        <li>
            <a href="" class="nav-link {% if title == 'Navbar Settings' %}active{% endif %} text-white">
                <i class="fa-solid fa-compass {% if title == 'Navbar Settings' %}fa-bounce{% endif %}"></i>&nbsp; Navigation Bar
            </a>
        </li>
        {% elif title in ['Crea Prodotto']%}
        <li class="nav-item mb-2">
            <a href="{{ url_for('products.render_products_table') }}" class="nav-link {% if title == 'Gestione Prodotti' %}active{% endif %} text-white">
                <i class="fa-solid fa-arrow-left"></i>&nbsp; Torna a Gestione Prodotti
            </a>
        </li>
        {% elif title in ['Modifica Prodotto', 'Immagini Prodotto' ]%}
        <li class="nav-item mb-2">
            <a href="{{ url_for('products.render_products_table') }}" class="nav-link {% if title == 'Gestione Prodotti' %}active{% endif %} text-white">
                <i class="fa-solid fa-arrow-left"></i>&nbsp; Torna a Gestione Prodotti
            </a>
        </li>
        <li>
            <a href="{{ url_for('products.edit_product', product_id=product.id) }}" class="nav-link {% if title == 'Modifica Prodotto' %}active{% endif %} text-white">
                <i class="fa-solid fa-box {% if title == 'Modifica Prodotto' %}fa-bounce{% endif %}"></i>&nbsp; Modifica Prodotto
            </a>
        </li>
        <li>
            <a href="{{ url_for('products.manage_product_images', product_id=product.id) }}" class="nav-link {% if title == 'Immagini Prodotto' %}active{% endif %} text-white">
                <i class="fa-solid fa-image {% if title == 'Immagini Prodotto' %}fa-bounce{% endif %}"></i>&nbsp; Modifica Immagini Prodotto
            </a>
        </li>
        {% else %}
        <li class="nav-item">
            <a href="{{ url_for('ui.homepage') }}" class="nav-link {% if title == 'HomePage' %}active{% endif %} text-white">
                <i class="fa-solid fa-table-columns {% if title == 'HomePage' %}fa-bounce{% endif %}"></i>&nbsp; Home
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('products.render_products_table') }}" class="nav-link {% if title == 'Gestione Prodotti' %}active{% endif %} text-white">
                <i class="fa-solid fa-box {% if title == 'Gestione Prodotti' %}fa-bounce{% endif %}"></i>&nbsp; Prodotti
            </a>
        </li>
        <li>
            <a href="{{ url_for('page.online_content') }}" class="nav-link {% if title == 'Online Content' %}active{% endif %} text-white">
                <i class="fa-solid fa-store {% if title == 'Online Content' %}fa-bounce{% endif %}"></i>&nbsp; Gestione Contenuti
            </a>
        </li>
        {% endif %}
    </ul>
    <hr>
    <div class="dropdown">
    {% if title in ['Cookie Bar Settings', 'Third-Party Cookie Settings', 'Navbar Settings' ] %}
        <button id="save-content" type="submit" class="btn btn-danger w-100">Save</button>
    {% else %}
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ session.get('profile_photo', '/static/images/superadmin/user_extend.png') }}"
                     alt="user" width="32" height="32" class="rounded-circle me-2" style="object-fit: cover; border: 2px solid #ff5757;">
            <strong>{{ session['username'] }} {{ session['surname'] }}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">Impostazioni Negozio</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('user.logout')}}">Logout</a></li>
        </ul>
    {% endif %}
    </div>
</div>