<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy e Cookies - LinkBay.it</title>
    {% include 'head.html' %}
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Privacy e Cookies di LinkBay.it</h1>

        <h2>Informativa sulla Privacy</h2>

        <h3>1. Introduzione</h3>
        <p>LinkBay.it si impegna a proteggere la privacy dei suoi utenti. Questa Informativa sulla Privacy spiega come raccogliamo, utilizziamo, e condividiamo le informazioni personali degli utenti.</p>

        <h3>2. Informazioni Raccolte</h3>
        <p>Raccogliamo informazioni personali fornite direttamente dagli utenti, come nome, indirizzo email, e informazioni di pagamento. Raccogliamo inoltre dati sull'uso del servizio, come le pagine visitate e le azioni effettuate.</p>

        <h3>3. Uso delle Informazioni</h3>
        <p>Utilizziamo le informazioni raccolte per fornire e migliorare i nostri servizi, gestire gli account degli utenti, elaborare i pagamenti, e comunicare con gli utenti.</p>

        <h3>4. Condivisione delle Informazioni</h3>
        <p>Non vendiamo o condividiamo informazioni personali con terze parti, salvo che per fornire i nostri servizi, rispettare la legge, o proteggere i nostri diritti.</p>

        <h3>5. Sicurezza</h3>
        <p>Adottiamo misure di sicurezza appropriate per proteggere le informazioni personali degli utenti da accessi non autorizzati, alterazioni, divulgazioni o distruzioni.</p>

        <h3>6. Diritti degli Utenti</h3>
        <p>Gli utenti hanno il diritto di accedere, correggere o cancellare le loro informazioni personali. Possono anche opporsi al trattamento dei loro dati o richiedere la portabilità dei dati.</p>

        <h3>7. Modifiche alla Privacy Policy</h3>
        <p>Ci riserviamo il diritto di modificare questa Informativa sulla Privacy in qualsiasi momento. Le modifiche saranno pubblicate sul nostro sito web e, se significative, comunicate via email.</p>

        <h3>8. Contatti</h3>
        <p>Per domande o richieste relative alla privacy, è possibile contattarci all'indirizzo email: <a href="mailto:info@spotexsrl.it">info@spotexsrl.it</a>.</p>

        <p>Titolare del servizio: Spotex SRL con Codice fiscale e Partita iva IT04071030136</p>

        <h2>Informativa sui Cookie</h2>

        <h3>1. Cosa sono i Cookie</h3>
        <p>I cookie sono piccoli file di testo che vengono memorizzati sul tuo dispositivo quando visiti un sito web. Vengono utilizzati per migliorare l'esperienza dell'utente, permettendo al sito di ricordare le tue azioni e preferenze (come login, lingua, dimensioni dei caratteri e altre impostazioni di visualizzazione) per un certo periodo di tempo.</p>

        <h3>2. Tipi di Cookie Utilizzati</h3>
        <p>Utilizziamo i seguenti tipi di cookie:</p>
        <ul>
            <li><strong>Cookie Tecnici:</strong> Questi cookie sono essenziali per il corretto funzionamento del sito e ti permettono di navigare e utilizzare le funzionalità principali.</li>
            <li><strong>Cookie di Analisi:</strong> Questi cookie ci aiutano a capire come i nostri utenti utilizzano il sito, raccogliendo informazioni in forma anonima e aggregata. Utilizziamo queste informazioni per migliorare il sito e i nostri servizi.</li>
            <li><strong>Cookie di Terze Parti:</strong> Sul nostro sito possono essere presenti cookie di terze parti, come quelli di Google Analytics, utilizzati per raccogliere informazioni anonime e analitiche sull'uso del sito.</li>
        </ul>

        <h3>3. Gestione dei Cookie</h3>
        <p>Puoi controllare e/o eliminare i cookie come desideri. Per maggiori informazioni, visita <a href="https://www.aboutcookies.org" target="_blank">aboutcookies.org</a>. Puoi eliminare tutti i cookie già presenti sul tuo computer e impostare la maggior parte dei browser in modo da bloccarne l'installazione. Tuttavia, se scegli di eliminare o bloccare i cookie, alcune funzionalità del nostro sito potrebbero non funzionare correttamente.</p>

        <h3>4. Consenso all'uso dei Cookie</h3>
        <p>Continuando a navigare sul nostro sito, accetti l'uso dei cookie. Puoi revocare il tuo consenso in qualsiasi momento modificando le impostazioni del tuo browser per rifiutare i cookie.</p>

        <h3>5. Modifiche alla Cookie Policy</h3>
        <p>Ci riserviamo il diritto di modificare questa Cookie Policy in qualsiasi momento. Le modifiche saranno pubblicate sul nostro sito web e, se significative, comunicate via email.</p>

        <h3>6. Contatti</h3>
        <p>Per domande o richieste relative alla nostra politica sui cookie, è possibile contattarci all'indirizzo email: <a href="mailto:info@spotexsrl.it">info@spotexsrl.it</a>.</p>
    </div>
    {% include 'visit_tracker.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>