<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termini e Condizioni - LinkBay.it</title>
    {% include 'head.html' %}
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Termini e Condizioni di LinkBay.it</h1>

        <h2>1. Accettazione dei Termini</h2>
        <p>Accedendo e utilizzando il sito web e i servizi di LinkBay.it, l'utente accetta di essere vincolato dai presenti Termini e Condizioni. Se non si accettano tali termini, si prega di non utilizzare i servizi offerti.</p>

        <h2>2. Descrizione del Servizio</h2>
        <p>LinkBay.it fornisce una piattaforma SaaS (Software as a Service) per la gestione di contenuti (CMS). Gli utenti possono creare, gestire e pubblicare contenuti digitali tramite il nostro sistema.</p>

        <h2>3. Registrazione degli Utenti</h2>
        <p>Per utilizzare i servizi di LinkBay.it, è necessario registrarsi creando un account. Gli utenti devono fornire informazioni accurate, complete e aggiornate. È vietato utilizzare un'identità falsa o impersonare altri individui o entità.</p>

        <h2>4. Uso Accettabile</h2>
        <p>Gli utenti si impegnano a utilizzare LinkBay.it in conformità con tutte le leggi e regolamenti applicabili. È vietato:</p>
        <ul>
            <li>Utilizzare il servizio per scopi illegali o non autorizzati.</li>
            <li>Tentare di compromettere la sicurezza o l'integrità del sistema.</li>
            <li>Copiare, modificare o distribuire contenuti senza autorizzazione.</li>
        </ul>

        <h2>5. Diritti di Proprietà Intellettuale</h2>
        <p>LinkBay.it detiene tutti i diritti di proprietà intellettuale relativi al sito web e ai servizi offerti. Gli utenti mantengono i diritti sui contenuti da loro creati, ma concedono a LinkBay.it una licenza non esclusiva per utilizzare tali contenuti allo scopo di fornire il servizio.</p>

        <h2>6. Limitazione di Responsabilità</h2>
        <p>LinkBay.it non sarà responsabile per eventuali danni diretti, indiretti, incidentali o consequenziali derivanti dall'uso o dall'impossibilità di utilizzare i nostri servizi. Non garantiamo che il servizio sarà ininterrotto, privo di errori o completamente sicuro.</p>

        <h2>7. Modifiche ai Termini</h2>
        <p>LinkBay.it si riserva il diritto di modificare i presenti Termini e Condizioni in qualsiasi momento. Le modifiche saranno comunicate agli utenti tramite il sito web. L'uso continuato del servizio dopo tali modifiche implica l'accettazione dei nuovi termini.</p>

        <h2>8. Cessazione del Servizio</h2>
        <p>LinkBay.it si riserva il diritto di sospendere o terminare l'accesso al servizio per qualsiasi motivo, inclusa, ma non limitata a, la violazione dei presenti Termini e Condizioni.</p>

        <h2>9. Privacy</h2>
        <p>L'uso di LinkBay.it è soggetto alla nostra Informativa sulla Privacy, che descrive come raccogliamo, utilizziamo e proteggiamo i dati personali degli utenti.</p>

        <h2>10. Legge Applicabile</h2>
        <p>I presenti Termini e Condizioni sono regolati dalle leggi italiane. Qualsiasi controversia derivante da o relativa a questi termini sarà soggetta alla giurisdizione esclusiva dei tribunali italiani.</p>

        <h2>11. Contatti</h2>
        <p>Per qualsiasi domanda o chiarimento sui presenti Termini e Condizioni, è possibile contattarci all'indirizzo email: <a href="mailto:info@spotexsrl.it">info@spotexsrl.it</a> o al numero di telefono 3899657115.</p>

        <p>Titolare del servizio: Spotex SRL con Codice fiscale e Partita iva IT04071030136</p>
    </div>
    {% include 'visit_tracker.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>