<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Code Editor</title>
    {% include 'admin/cms/heading/admin_head.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/editor.css') }}">
    
    <!-- CodeMirror CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/theme/material.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/fold/foldgutter.min.css">
    
    <!-- CodeMirror JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/htmlmixed/htmlmixed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/css/css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/xml/xml.min.js"></script>
    
    <!-- Addons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/edit/closetag.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/edit/matchtags.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/fold/foldcode.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/fold/foldgutter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/fold/brace-fold.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/fold/xml-fold.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/selection/active-line.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/search/match-highlighter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/keymap/vim.min.js"></script>
    
    <style>
        /* Layout per l'editor */
        .CodeMirror {
            min-height: 1080px; 
        }
        /* Applica white-space per preservare gli spazi e i ritorni a capo */
        .code-editor {
            white-space: pre-wrap !important;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark d-md-none" style="background-color: #343a40;">
        <img src="/static/images/superadmin/linkbay_logo.svg" width="200px" alt="Logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <main class="d-flex">
        <!-- Include la barra laterale dell'editor -->
        {% include 'admin/cms/ui/editor_code.html' %}
        
        <div class="content" style="padding: 0 !important;">
            <!-- Form per salvare il contenuto -->
            <form method="POST" action="/admin/cms/function/save_code" id="editor-form">
                <textarea id="code-editor" class="code-editor">{{ content }}</textarea>  <!-- Textarea per CodeMirror -->
                <input type="hidden" id="content" name="content">  <!-- Questo viene aggiornato da JavaScript -->
            </form>
        </div>
    </main>

    <!-- Inizializza CodeMirror -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var editor = CodeMirror.fromTextArea(document.getElementById('code-editor'), {
                mode: 'htmlmixed',
                theme: 'material',
                lineNumbers: true,
                autoCloseTags: true,
                matchBrackets: true,
                autofocus: true,
                foldGutter: true,
                gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
                matchTags: {bothTags: true},
                styleActiveLine: true,
                highlightSelectionMatches: {showToken: /\w/},
                lineWrapping: true,  // Assicurati di includere il keymap Vim
                lint: true  // Se usi lint, assicurati di avere l'addon per il linting
            });

            // Associa l'evento di click al pulsante di salvataggio esterno
            document.getElementById('external-save-button').addEventListener('click', function () {
                var content = editor.getValue();
                var slug = '{{ page.slug }}';
                
                if (!content || !slug) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: 'Content or slug is missing.',
                        showConfirmButton: true
                    });
                    return;
                }
                
                // Mostra un'animazione di caricamento
                Swal.fire({
                    title: 'Saving...',
                    text: 'Please wait while your content is being saved.',
                    icon: 'info',
                    allowOutsideClick: false,
                    showConfirmButton: false,
                    didOpen: () => Swal.showLoading(),
                });
                
        
                document.getElementById('content').value = content;

                $.ajax({
                    url: '/admin/cms/function/save_code',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        content: content,
                        slug: slug
                    }),
                    success: function(response) {
                        if (response.success) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Saved!',
                                text: 'Your content has been saved successfully.',
                                showConfirmButton: false,
                                timer: 1500
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error!',
                                text: response.error || 'There was an error saving your content.',
                                showConfirmButton: true
                            });
                        }
                    },
                    error: function() {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: 'A server error occurred.',
                            showConfirmButton: true
                        });
                    }
                });
            });
        });
    </script>
    {% include 'admin/cms/footing/admin_footing.html' %}
</body>
</html>