<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkBay-CMS - {{ title }}</title>
    {% include 'admin/cms/heading/admin_head.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/editor.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/grapesjs@0.22.5/dist/grapes.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/grapesjs@0.22.5/dist/css/grapes.min.css" rel="stylesheet">    
</head>
<body>
    <nav class="navbar navbar-dark d-md-none" style="background-color: #343a40;">
        <img src="/static/images/superadmin/linkbay_logo.svg" width="200px" alt="Logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <main class="d-flex">
        {% include 'admin/cms/ui/editor_bar.html' %}
        <div class="content" style="padding: 0 5% 0 5% !important;">
            {% include 'admin/cms/pages/editor_tutorial.html' %}
            <div id="editor" style="height: 100vh;">{{ page.content | safe }}</div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/pica@8.0.1/dist/pica.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% include 'admin/cms/footing/admin_footing.html' %}
</body>
</html>