<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkBay - {{ title }}</title>
    {% include 'admin/cms/heading/admin_head.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/grapesjs/0.21.12/css/grapes.min.css">
    <script src="https://unpkg.com/grapesjs-preset-webpage@0.1.18/dist/grapesjs-preset-webpage.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-dark d-md-none" style="background-color: #343a40;">
        <img src="{{ url_for('static', filename='images/lb-logo-w.svg') }}" width="200px" alt="Logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <main class="d-flex">
        {% include 'admin/cms/ui/editor_bar.html' %}
        <div class="content" style="padding: 0 !important;">
            <div id="editor" style="height: 100vh;">{{ page.content | safe }}</div>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/grapesjs/0.21.12/grapes.min.js" integrity="sha512-teAIdSO6FfVceO6LRJjAix0YLUCdAWV8J304vAEMw0NQcqTPYWrSxeMVbLSdN/Kkq00Nm2yKL5836QpiyJ5ipg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/pica@8.0.1/dist/pica.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% include 'admin/cms/themes/norman.html' %}
</body>
</html>