<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ collection.name if collection else "All Products" }}</title>
    <meta name="description" content="{{ collection.description if collection else 'Browse our products' }}">
    <meta name="keywords" content="{{ collection.keywords | join(', ') if collection else 'products, collections' }}">
    {% include 'head.html' %}
    {{ head | safe }}
</head>
<body>
<!-- Include la navbar -->
<nav>
    {{ navbar | safe }}
</nav>

<!-- Include il contenuto dinamico della pagina -->
{{ page | safe}}

<!-- Carica cookie personalizzati -->
{{ cookie_policy_banner | safe }}  <!-- Questo carica i cookie personalizzati -->

<!-- Include il footer -->
<footer>
    {{ footer | safe }}
</footer>

<!-- Carica script personalizzati -->
{{ script | safe }}

<!-- Carica gli script del footer -->
{{ foot | safe }}

<!-- Carica gli script predefiniti da sistema -->
{% include 'content_after_body.html' %}
</body>
</html>