<!-- Include la logica del carrello a seconda del tema -->

{% if selected_theme_ui %}
    {% include 'themes/cart/' ~ selected_theme_ui.name ~ '.html' %}
{% else %}
    {% include 'themes/cart/norman.html' %}
{% endif %}

<!-- Include gli script funzionali -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        AOS.init({
            once: true,  // 🔹 Assicura che l'animazione avvenga solo una volta
            delay: 50,   // 🔹 Evita ritardi troppo lunghi
            duration: 800 // 🔹 Regola la durata dell'animazione
        });
    });
</script>

<script src="/static/js/cms/cms.js"></script>