 <!-- Open Graph Meta Tags -->

 <meta property="og:title" content="LinkBay CMS">
 <meta property="og:description" content="Descrizione del tuo sito web">
 <meta property="og:image" content="{{ url_for('static', filename='images/og-image.png') }}">
 <meta property="og:url" content="https://www.linkbay.com">
 <meta property="og:type" content="website">

 <!-- Google Analytics -->

 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-INSERISCIQUIILTUOGOOGLEADSPIXELIDTRAMITECONNESSIONEALDATABASE-Y"></script>
 <script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());
 gtag('config', 'UA-INSERISCIQUIILTUOGOOGLEADSPIXELIDTRAMITECONNESSIONEALDATABASE-Y');
 </script>

 <!-- Facebook Pixel Code -->

 <script>
 !function(f,b,e,v,n,t,s)
 {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
 n.callMethod.apply(n,arguments):n.queue.push(arguments)};
 if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
 n.queue=[];t=b.createElement(e);t.async=!0;
 t.src=v;s=b.getElementsByTagName(e)[0];
 s.parentNode.insertBefore(t,s)}(window, document,'script',
 'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', 'INSERISCIQUIILTUOFACEBOOKPIXELIDCONLACONNESSIONEALDATABASE');
 fbq('track', 'PageView');
 </script>
 <noscript><img height="1" width="1" style="display:none"
 src="https://www.facebook.com/tr?id=INSERISCIQUIILTUOFACEBOOKPIXELIDCONLACONNESSIONEALDATABASE&ev=PageView&noscript=1"
 /></noscript>

 <!-- XML Sitemap -->

 <link rel="sitemap" type="application/xml" title="Sitemap" href="../public/sitemap.xml">

 <!-- Robots.txt -->

 <meta name="robots" content="index, follow">

 <!-- Favicon CSS -->

 <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
