<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    {% include 'head.html' %}
    <!-- Include head scripts dinamicamente -->
    {{ head | safe }}  <!-- Questo carica gli script personalizzati nella testa -->
</head>
<body>
    <!-- Include la navbar -->
    <nav>
        {{ navbar | safe }}  <!-- Stampa il contenuto della navbar -->
    </nav>

    <!-- Contenuto della pagina -->
    {{ content | safe }}

    <!-- Include il footer -->
    <footer>
        {{ footer | safe }}  <!-- Stampa il contenuto del footer -->
    </footer>
    
    <!-- Carica script personalizzati -->
    {{ script | safe }}  <!-- Questo carica gli script personalizzati nel body -->
    
    <!-- Carica gli script del footer -->
    {{ foot | safe }}  <!-- Questo carica gli script specifici per il footer -->
</body>
</html>