    <!DOCTYPE html>
    <html lang="{{ language }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ product.name }}</title>
        <meta name="description" content="{{ product.short_description }}">
        <meta name="keywords" content="{{ product.keywords | join(', ') }}">
        {% include 'head.html' %}
        <!-- Include head scripts dinamicamente -->
        {{ head | safe }}
    </head>
    <body>
        <!-- Include la navbar -->

        <nav>
            {{ navbar | safe }}
        </nav>

        <!-- Include il contenuto dinamico della pagina -->

        {{ page | safe }}

        <!-- Carica cookie personalizzati -->

        {{ cookie_policy_banner | safe }}  <!-- Questo carica i cookie personalizzati -->

        <!-- Include il footer -->

        <footer>
            {{ footer | safe }}
        </footer>
        
        <!-- Carica script personalizzati -->

        {{ script | safe }}
        
        <!-- Carica gli script del footer impostati dall'utente -->

        {{ foot | safe }}

        <!-- Carica gli script predefiniti da sistema -->

        {% include 'content_after_body.html' %}
    </body>
    </html>