{% extends 'landing/base.html' %}
{% block content %}

    <!-- Lista Pagamenti Effettuati -->
    <div class="card shadow-sm border-0" data-aos="fade-up">
      <div class="card-header bg-dark text-white">
        <h5 class="mb-0"><i class="fa-solid fa-arrow-up"></i> Pagamenti Effettuati</h5>
      </div>
      <div class="card-body p-0">
        <table class="table table-sm mb-0">
          <thead class="table-light">
            <tr>
              <th>Data</th>
              <th>Importo</th>
              <th>Metodo</th>
              <th>Fattura</th>
            </tr>
          </thead>
          <tbody id="sentTransactionsTable"></tbody>
        </table>
      </div>
    </div>

<script src="/static/js/superadmin/payments.js"></script>
{% endblock %}
